/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*reset lista*/
ul {
    list-style: none;
}

header {
    font-family: fredoka;
}

/*titolo*/
h1 {
    color: #e53170;
    margin: 40px;

}

/*paragrafo*/
p {
    margin: 60px 265px 50px;
}

/*icona*/

.flex {
    display: flex;
    gap: 1.875rem;
}

.block {
    height: 100px;
    width: 360px;
    background-color: black;
    display: flex;
}

section {
    margin: 50px 265px 0;
}

img {
    height: 100px;
    width: 100px;
}

ul .point {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    font-family: fredoka;


}

ul .point li {
    margin-bottom: 10px;
}

.name {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.job {
    color: white;
    font-size: 15px;
}

.email {
    color: #6ecbf2;
    font-size: .9375rem;
}